[2010-04-05 12:13] petriashev opened #1 "Does not compile"
Solution does not compile

[2010-04-05 12:15] petriashev opened #2 "Does not work with indexer"
[code]

[2011-04-06 17:03] #1 closed, assigned to nobody

[2011-04-06 17:03] #2 closed, assigned to nobody

[2012-05-09 18:46] elanthis opened #3 "TemplateGroupString.FileName is incorrect, causes errors"
The `TemplateGroupString.FileName` property always returns `"<string>"` rather than the `sourceName` field value.  Aside from being incorrect when one wants to query the file name, this also causes a bad failure in `ErrorManager`.  The `ErrorManager` will attempt to parse the `FileName` during an error using `Path.GetFileName()`.  However, since `<` is an illegal character, an exception is thrown

[2012-06-12 22:19] sharwell opened #4 "Mono does not provide InternalPreserveStackTrace"
Calls to `InternalPreserveStackTrace` should fail gracefully if the method is not provided by the implementing runtime (particularly problematic in Mono).

[2012-11-21 11:19] vipermind opened #5 "Antlr4.StringTemplate.Format Issue"
Hi,

I found a small issue with Antlr4.StringTemplate.Format (line 628).

The statement as follows:

[code]

does not substitute numeric values (Number) with 'argNumber' and it results in an error similar to the following one:

[code]

It should be replaces with that statement:

[code]

That will help.

Kind regards,
Tom

[2012-11-22 20:06] #5 closed, assigned to sharwell

[2012-12-12 14:40] sharwell opened #6 "TemplateGroup.GetInstanceOf may not be thread safe"
Need to examine the use of the `templates` field, it's reportedly read/written without synchronization.

[2013-03-02 17:26] sharwell opened #11 "Internal modifier for imported grammars"
From Ranco

[2013-05-12 05:32] oldboldpilot opened #14 ".NET Portable libaries for ANTLR targets"
It would be nice to have a .NET portable ANTLR library to use for Windows 8, Windows phone development.

[2013-05-13 18:24] sharwell opened #15 "Create StringTemplate 4 examples / getting started documentation"

[2013-08-09 21:43] brad-ross opened #17 "Missing Constructor in Antlr4.StringTemplate.Visualizer When Running AntlrCS on File in Mono"
When I run the antlr3.exe using mono without specifying a grammar, everything runs fine. However, when I specify a grammar file to generate a parser from using mono, I get the following message:

[code]

I'm not sure why this happens, or whether the StringTemplate Visualizer is even needed, but it is definitely preventing me from using Antlrcs.

[2013-08-10 05:00] #3 closed, assigned to sharwell

[2013-08-10 05:00] #4 closed, assigned to sharwell

[2013-08-10 05:01] #17 closed, assigned to sharwell

[2013-11-12 01:10] hmflash opened #23 "Exception on osx/mono in Antlr4.StringTemplate.Visualizer.dll"
When trying to run antlr on Mac OSX,  mono crashes with the following error:
[code]

The mono version is:
[code]

The issue occurs because mono does not support WPF, and Antlr4.StringTemplate.Visualizer.dll uses WPF.

Looking into the code, I see the Antlr3 project has an assembly reference to Antlr4.StringTemplate.Visualizer.dll.  The only place string visualization is used is in Antlr3\Codegen\C

[2013-11-22 19:26] petriashev opened #24 "Update NuGet package"
Hello, I created nuget packages in early 2012. Now there is offitial sources on github.
I can give yor ownership on that packages if you give me your nickname on nuget.org.

https://www.nuget.org/packages/Antlr3.StringTemplate/
https://www.nuget.org/packages/Antlr4.StringTemplate/

Can I help you whith this issue?

[2013-12-23 05:31] stokito opened #25 "Add README.md"

[2014-02-10 00:16] ericvergnaud opened #26 "Cascading import issue"
Hi,

I need to embed 2 grammars X and Y in Z.

This is done by importing X in Y and Y and Z.

Unfortunately, this raises a minor bug in the C# version, where the reference to X in Y is marked as private, and cannot be accessed in Z.

The bug does not exist in the Java version.

[2014-04-26 04:42] hungdluit opened #27 "Antlr4 portable library on windows 8 store apps environment issues."
Hi,

IReadOnlyList, ArrayList have no longer supported on windows 8 (8.1) store apps. So, I cannot build my own projects.

Please, verify this problem. I think it is easy to fix the generator.

Thanks.

[2014-07-01 00:42] tubededentifrice opened #28 "Add support for C# dynamics"
[code]

The output is:

Expected output:

I can't find any other way to be able to preview my templates easily (user passes a JSON object, deserialized into a `Dictionary<string,dynamic>`, then each dictionary KVP are sent to the template individually).
Let me know if you need clarification about this use case.

[2014-07-01 03:07] #28 closed, assigned to nobody

[2014-10-06 12:54] xanathar opened #29 "@leftfactor creates tokens with dollar signs in the generated parser"
I tried specifying @leftfactor{rulename} in a grammar and some invalid tokens are generated in the xxxParser.cs:

RULE_var$lf$rulename = 0, RULE_var$nolf$rulename = 1,

doing a simple text replace of var$lf$rule in var_lf_rule and var$nolf$rule in var_nolf_rule solves the issue until the next regeneration of the grammar [so, not a showstopper].

[2014-10-06 13:00] #29 closed, assigned to nobody

[2014-12-18 16:31] #27 closed, assigned to nobody

[2014-12-19 17:02] #14 closed, assigned to sharwell

[2015-01-08 19:51] brandondahler opened #35 "AutoIndentWriter NullReferenceException"
Submitted to java version as well at https://github.com/antlr/stringtemplate4/issues/97 .

When processing a template that accesses an attribute returns is a null string, an exception is logged to the console:

[code]

Likely issue:

In AutoIndentWriter.cs
public virtual int Write(string value) does not check if value is null before accessing value.Length .

I can provide more details reproduction

[2015-01-08 21:06] sharwell commented on #35
It appears that one of the following is occurring in your code. If you know of another case which produces this result, can you share a bit of code to demonstrate it?

1. You have a non-null object which provides an override of the `ToString()` method which returns `null`. This case violates a postcondition of the `object.ToString()` method ([`ToString()` should never return `null`](http://msdn.mi

[2015-01-09 02:37] brandondahler commented on #35
You are correct -- my issue is caused by case 1.

That being said, the link doesn't seem to mean that ToString() is guaranteed to be non-null (being that it is in the same sentence mentioning it shouldn't be String.Empty).  It looks like a judgement call, but below is my use-case--it is a very simple fix for me anyway, just need to add a " ?? String.Empty".

[code]

[2015-02-11 15:33] brandondahler commented on #24
I just noticed the NuGet package for StringTemplate v4 is currently at 4.0.6.9004 whereas the current stable release is at 4.0.7.1 , can one of the owners (or @petriashev) update the NuGet package?

[2015-02-11 15:56] sharwell commented on #24
The "official" distribution of the StringTemplate 4 package on NuGet is here:

https://www.nuget.org/packages/StringTemplate4

[2015-02-11 16:00] sharwell commented on #24
@petriashev I can help you update those packages so they automatically redirect to the package I've released without breaking users. If you can point me to the GitHub repository containing the **.nuspec** file(s), I can send you a pull request to review the changes.

The basic idea is to create a metadata-only package, which doesn't contain any binaries, but instead declares a dependency on the **

[2015-02-11 20:03] petriashev commented on #24
Hello, I've added sharwell as owner for my packages. You have to accept this request and change everything you want.

[2015-02-23 16:49] brandondahler commented on #24
@sharwell Right now those packages are marked pre-release, can someone deploy one marked stable?

[2015-02-23 20:38] sharwell commented on #24
@brandondahler Sure. I marked them as pre-release in order to get feedback on them, but the feedback never came to confirm they worked as expected. :grin:

[2015-02-24 06:42] brandondahler commented on #35
Unfortuntely, not allowing ToString() to return null has caused unforseen issues downstream due to how empty versus null strings are handled when inside an if().  This effectively makes it impossible to have a ToString() implementation that results in a false evaluation while still having a non-null object that it represents.  Using my example above, the following use-case demonstrates the need:

[2015-02-24 14:07] sharwell commented on #35
You should be able to use something like this for it:

[code]

[2015-05-22 11:42] nilopaim opened #36 "C# StringTemplate4 throwing NullReferenceException"
I have a directory containing several .st files. When I issue the following commands, the calling of GetInstanceOf throws NulReferenceException.

Both the directory and the "CGlobals.st" file cited below exists and are visible to the application.

Sample code:

     TemplateGroup group = new TemplateGroupDirectory(@"D:\Templates");
     var f = group.GetInstanceOf("CGlobals");

[2015-06-24 02:24] ryanlin1986 opened #37 "Supress the build warning"
I got this in Visual Studio:

[code]

It's better to suppress this warning which makes warning list huge.

[2015-06-24 07:18] sharwell commented on #37
Hi @ryanlin1986,

Thanks for taking the time to report this issue. :smile:

This is actually the repository for the C# ports of ANTLR 3 and StringTemplate. If you are using the ANTLR 4 C# target available on NuGet, the repository you are looking for [is here](https://github.com/tunnelvisionlabs/antlr4cs). Otherwise, if you are using the ANTLR 4 C# target which is included in the ANTLR 4.5 release

[2015-06-25 01:24] ryanlin1986 commented on #37
Thanks for the response, what you said is partually right.
After checked it out, I found some parser rule assigned by name START and STOP, which produces this warning, I will just rename the name.

[2015-06-25 01:25] #37 closed

[2015-07-06 05:09] mahanteshck opened #38 "Trying to write Grammer and Tree parser for SQL IN Operator"
I Am new to the Antlr, Started Going through "The Definitive ANTLR Reference". And in one of the existing product Antlr is already used for SQL statement parsing, and For some filter technique in the UI we need to parse IN Operator inside Where Clause. With the Implementation what I have done, I am able to get the Half result. (Code is in Antlr Version 3)
Combinations of IN Operator
-- IN (21) --

[2015-07-11 14:38] mahanteshck commented on #38
Any Suggestions are much appreciated on the above problem.

[2015-07-11 15:46] parrt commented on #38
that is a question not a bug.

[2015-07-11 15:46] #38 closed

[2015-07-11 17:35] mahanteshck commented on #38
Yep. Can you please suggest me the way out. I have pasted the same Question on stackoverflow as well.
http://stackoverflow.com/questions/31300467/trying-to-write-grammer-and-tree-parser-for-sql-in-operator

[2015-09-29 06:49] lextm opened #39 "Intermittent build error in MSBuild or NCrunch or other possible tools"
Can find a similar report and detailed analysis in http://forum.ncrunch.net/yaf_postst921_Intermittent-build-error-with-ANTLR-3.aspx

[code]

If a solution contains multiple projects that contain ANTLR grammars, then compiling the two at the same time (at VS command prompt or via NCrunch) can lead to such exceptions. There would be no exception when compiling in VS, as VS seems to use another way

[2015-11-04 06:48] jeremymeng opened #40 "Support portable-net45"
According to https://oren.codes/2015/07/29/targeting-net-core/, class libraries using Profile 259 can run on CoreClr as-is.  It is as easy as copying the existing portable-40 csproj, and changing it to target Profile 259.

[2015-11-04 06:49] jeremymeng commented on #40
https://github.com/antlr/antlrcs/issues/40

[2015-11-11 13:34] sharwell opened #42 "Support .NET Core"
From @jeremymeng:

:memo: This issue was split from #40.

[2015-11-11 13:35] sharwell commented on #40
I moved the request to support .NET Core to separate issue #42.

[2015-11-12 06:56] #40 closed

[2016-01-12 09:09] tdjastrzebski opened #46 "StringRenderer"
In StringRenderer line 67 is intended to handle formatting of all the formats, other than predefined.
However, it will never work since in line 48 attribute value is converted to string, and then String.Format() is used to format String type value.

Please modify line line 67 as follow:

[code]

Below my optimized implementation, handling html-encode.

Tomasz Jastrzębski

[code]

[2016-01-12 12:50] sharwell commented on #46
In its current form, `StringRenderer` is only intended to be registered for type `string`. As you can see from the cast on line 48 (which matches the cast used in the [original Java code](https://github.com/antlr/stringtemplate4/blob/1c5d129c6db9c4471291e7e670a628333eef892f/src/org/stringtemplate/v4/StringRenderer.java#L47)), it's clear that the input argument `o` is either `null` or an instance o

[2016-01-12 18:01] tdjastrzebski commented on #46
Thank You for your response.

Looking at StringRenderer line 67 I assumed that the idea was to support format strings other than defined, while this will not work since the formatted value in line 67 is always of a string type.

return string.Format(culture, formatString, s);

vs.

return string.Format(culture, formatString, o);

However, if the aim is to maintain two way Java version compatibilit

[2016-01-12 18:19] sharwell commented on #46
Your format string could be `Text: {0}`. Wherever you put `{0}` in the format string, that's where the string argument will appear in the output. :smile:

[2016-01-12 18:24] tdjastrzebski commented on #46
Btw, it looks like the original Java code has the same, I would say, defect in line 64 – since it is really not a bug, just an unnecessary call.

Is there any Antlr 4 online documentation available?

The links which worked in the past seen no longer valid.

Thanks,

Tomasz

From: Sam Harwell [mailto:notifications@github.com]
Sent: Tuesday, January 12, 2016 1:50 PM
To: antlr/antlrcs <antlrcs@norepl

[2016-01-12 18:49] parrt commented on #46
Links to doc from antlr.org should be correct: https://github.com/antlr/antlr4/blob/master/doc/index.md

[2016-01-13 07:05] tdjastrzebski commented on #46
Due to the issue I try to describe this will not likely work. Try:

string s = "$date;format=\"{0:R}\"$";

Template t1 = new Template(s, '$', '$');

t1.Add("date", DateTime.Now);

Console.WriteLine(t1.Render());

Console.ReadLine();

or

string s = "$date;format=\"{0:R}\"$";

TemplateGroup g1 = new TemplateGroup('$', '$');

g1.RegisterRenderer(typeof(object), new StringRenderer());

Template t1 =

[2016-01-13 10:43] sharwell commented on #46
@tdjastrzebski `DateTime` is not `string`, so it cannot be formatted using `StringRenderer`. You would need to provide a new renderer if you want to control the way it gets formatted. One optional is creating a `FormattableRenderer` which you register for the `IFormattable` type, and when rendering objects you just do this:

[code]

[2016-01-13 22:43] tdjastrzebski commented on #46
Ok, I must have misunderstood. In my current project I use own renderer – just one for all the types.

But, for future reference, I still try to understand the original design. Could you provide an example where formatting in StringRenderer line 67 will be applied?

From: Sam Harwell [mailto:notifications@github.com]
Sent: Wednesday, January 13, 2016 11:43 AM
To: antlr/antlrcs <antlrcs@noreply.git

[2016-01-13 22:53] sharwell commented on #46
@tdjastrzebski Sure, change your original example to this:

[code]

[2016-01-13 23:04] tdjastrzebski commented on #46
ic…

Is not that equivalent to shorter and cleaner:

„The date was: $(date)$”

?

From: Sam Harwell [mailto:notifications@github.com]
Sent: Wednesday, January 13, 2016 11:53 PM
To: antlr/antlrcs <antlrcs@noreply.github.com>
Cc: tdjastrzebski <tdjastrzebski@wp.pl>
Subject: Re: [antlrcs] StringRenderer (#46)

@tdjastrzebski <https://github.com/tdjastrzebski>  Sure, change your original example to th

[2016-01-14 10:45] sharwell commented on #46
Not only is it shorter and cleaner, but Java and C# actually behave differently for this format string (bad if you want to use the same template in multiple target languages). While I probably wouldn't recommend it's use, it does demonstrate the behavior of the line you mentioned. :smile:

[2016-01-14 18:25] tdjastrzebski commented on #46
So, there is no separate documentation just for String Template 4?

From: Terence Parr [mailto:notifications@github.com]
Sent: Tuesday, January 12, 2016 7:50 PM
To: antlr/antlrcs <antlrcs@noreply.github.com>
Cc: tdjastrzebski <tdjastrzebski@wp.pl>
Subject: Re: [antlrcs] StringRenderer (#46)

Links to doc from antlr.org should be correct: https://github.com/antlr/antlr4/blob/master/doc/index.md

—

[2016-02-02 15:23] tdjastrzebski commented on #46
I mean, seriously. Until recently, I always recommended StringTemplate in my, rather large, organization whenever things like email content had to be built etc. until I realized the only link to compact documentation I knew https://theantlrguy.atlassian.net/wiki/display/ST4/StringTemplate+cheat+sheet

is no longer publicly accessible. And I cannot recommend a product for which documentation is una

[2016-02-02 17:41] parrt commented on #46
It would be a pity that you couldn’t visit the websiteTo discover that the documentation is now part of the repository and that the documentation link clearly points to the new location. I even went to the trouble to make a Google remove it from search.
Ter

[2016-02-03 12:18] tdjastrzebski commented on #46
Stupid me, so for my future reference, the link to StringTemplate documentation is

https://github.com/antlr/stringtemplate4/blob/master/doc/index.md

rather than

 <https://github.com/antlr/antlr4/blob/master/doc/index.md> https://github.com/antlr/antlr4/blob/master/doc/index.md

How could I have missed it?

Thanks,

TJ

From: Terence Parr [mailto:notifications@github.com]
Sent: Tuesday, February

[2016-02-19 18:32] niemyjski opened #47 "What nuget package"
I noticed you guys created like 20 nuget package that all look the same. Which one should I use that is the latest version? Is this library still being maintained?

[2016-03-09 20:26] cozy1 opened #48 "Antlr Downloadable Zip is Incomplete"
When I downloaded the antlrcs source using the GitHub zip file https://github.com/antlr/antlrcs/archive/master.zip  the 'Reference' fold is empty because it contains some illegal characters (may be OS dependent) https://github.com/antlr/antlrcs/tree/master/Reference

This prevents the zip source from building.  In order to actually build a copy of the repo I had to Fork it and then build it.  Some

[2016-03-19 19:54] tlil87 commented on #42
Hi @sharwell - do you have any roadmap for this, or even better, an ETA for when this will be done? Is it being worked on, or on hold for now?

[2016-03-22 11:54] sharwell commented on #48
The items in the Reference folder are submodules, which means the contents are not included in this repository by design. You will either need to download them from the corresponding repositories (clicking the links will take to you them) and create the folder structure yourself, or clone the repository and update submodules in order to build.

[2016-03-22 11:54] #48 closed

[2016-05-06 17:05] jeremymeng commented on #42
@sharwell Are you waiting for the RC2 release too?  Or is there anything we can help now to move this forward?  Thanks!

[2016-06-30 12:16] sharwell opened #49 "Check for 64-bit build"
(from the ANTLR mailing list)

Make sure Antlr3.Runtime.dll is being built as an AnyCPU DLL.

[2016-07-02 18:29] sharwell commented on #49
As of 3.5.0.2 (at least; I didn't check earlier), both **Antlr3.Runtime.dll** and **Antlr3.Runtime.Debug.dll** are compiled as AnyCPU binaries.

[2016-07-02 18:29] #49 closed

[2016-07-17 16:11] sharwell opened #50 "ST4: Is it possible to make the stack overflow limit adjustable?"
Copied from antlr/stringtemplate4#111:

[2016-07-27 04:20] #35 closed

[2016-08-09 02:53] ngbrown commented on #47
It seems that this repository is intending to publish to [Antlr3.Runtime](https://www.nuget.org/packages/Antlr3.Runtime), but the most recent version is the pre-release alpha002 and doesn't include any of the PLC options.

The AppVeyor configuration isn't incrementing a build number, so there's no differintiation between builds.  The next step would be publish what the AppVoyer NuGet feed is for t

[2016-08-09 08:11] ngbrown commented on #47
If #51 is merged and the CI build's NuGet feed is published, that will help provide access to the development builds.  Updating the official NuGet repository with released builds would be nice too.

[2016-08-09 12:29] sharwell commented on #47
This repository contains C# versions of 3 major projects, some of which have multiple build artifacts:

* ANTLR 3
  * [Antlr3](https://www.nuget.org/packages/Antlr3): Code generator for ANTLR 3
  * [Antlr3.Runtime](https://www.nuget.org/packages/Antlr3.Runtime): Runtime library for ANTLR 3
  * [Antlr3.Runtime.Debug](https://www.nuget.org/packages/Antlr3.Runtime.Debug): Runtime library debugging to

[2016-08-09 12:34] sharwell commented on #47
We're in the process of adding .NET Standard support to ANTLR 4. I'd like to figure out how to handle the code generation portion before trying to incorporate a similar strategy here. See tunnelvisionlabs/antlr4cs#110 for more information.

[2016-08-15 08:24] lextm commented on #42
Seems like the discussion is now under antlr/antlr4#1142.

Though PCL profile 259 might run on .NET Core, I still think a dedicate port to .NET Core is required. The PCL port has removed too many APIs to adapt to the limited PCL API surface, while .NET Core (.NET Standard) does provide more. A dedicate port can add more types and ease the pains of migrating from .NET Framework to .NET Core.

[2016-08-15 12:39] sharwell commented on #42
@lextm The other issue you linked to is for ANTLR 4. This is the repository for ANTLR 3.

A beta of ANTLR 4's [original C# target](https://github.com/tunnelvisionlabs/antlr4cs) with support for .NET Core was [released to NuGet](https://www.nuget.org/packages/Antlr4/4.5.3.1-beta001) a few weeks ago.

[2016-09-01 18:21] jeremymeng commented on #42
In My PR I added a project.json.  Running `dotnet restore` then `dotnet pack` under `Runtime/Antlr3.Runtime/` should output a nupkg that targets the same set of frameworks as the old package does, and two more: `netstandar1.1` and `netstandard1.3`.

[2016-09-13 18:32] sharwell commented on #46
I don't see any action required at this time. The existing test `TestNumberRendererWithPrintfFormat` covers the scenario described above, so everything appears to be working as intended.

[2016-09-13 18:32] #46 closed

[2016-09-13 18:33] sharwell commented on #42
This was fixed in #53 (for ANTLR 3) and #59 (for StringTemplate 4).

[2016-09-13 18:33] #42 closed

[2016-09-13 18:41] #25 closed

[2016-09-13 18:41] #47 closed

[2016-09-13 18:43] #23 closed

[2016-10-24 16:12] jeremymeng commented on #42
@sharwell will there be a pre-release on nuget.org soon?

[2016-12-05 21:21] richardsheppard-avalara commented on #42
@sharwell just wondering if this will be made available on nuget anytime soon?

[2016-12-05 22:05] sharwell commented on #42
I don't have a specific timeline, but it's a blocker for some other things I want to get done so hopefully I can get it resolved in a reasonable time.

[2016-12-18 23:34] sharwell commented on #24
I published stable releases of ANTLR 3, StringTemplate 3, and StringTemplate 4 to NuGet today.

[2016-12-18 23:34] #24 closed

[2017-01-23 10:39] ivany4 opened #70 "Subtree is lost during tree construction"
I have a rule like this
[code]
and the input like
[code]
The expected tree is: ```(decl delim) (decl delim) decl```, which works with Java-based Antlr 3.2 generator.
However, with this generator, the first two trees are flat, producing ```decl decl decl```. Furthermore, if ```decl``` is a subtree, the first two objects would contain only the root nodes, while the last ```decl``` would have a corre

[2017-01-23 14:23] sharwell commented on #70
The GitHub history for ANTLR 3 doesn't contain the original commit where this behavior was introduced, but I found a comment describing it in the reference Java runtime:
https://github.com/antlr/antlr3/blob/master/runtime/Java/src/main/java/org/antlr/runtime/tree/RewriteRuleSubtreeStream.java#L54-L56

There may also be a test covering this, but so far I wasn't able to find it.

I'm closing this as

[2017-01-23 14:23] #70 closed

[2017-04-18 17:23] xied75 commented on #50
Is this problem still open to be solved?

[2017-04-25 12:00] hazzik opened #71 "dotnet build fails to build a project containing Antrl3 targets"
Way to reproduce:

The simplest possible project:
[code]
Some grammar files (one empty `.g` file should do the trick)

[code]

[2017-04-26 14:04] lextm commented on #71
A .NET Standard project (yours) should not depend on a .NET Framework project (ANTLR3). I think it is not a supported scenario.

[2017-04-26 14:32] fredericDelaporte commented on #71
This happens with .Net Framework projects using VS 2017 .csproj format and `dotnet build` too.

[2017-04-26 14:37] fredericDelaporte commented on #71
And it looks like Antlr3 supports .Net standard, or is the [Nuget page](https://www.nuget.org/packages/Antlr3.Runtime) wrong?

[2017-04-26 15:01] hazzik commented on #71
@lextm I think you SHOULD delete your nonsense comment and don't waste anyone's valuable time anymore.

1. Antlr3 is a build tool package it shouldn't be anyhow related to the framework used by a project.
2. Antrl3.Runtime does indeed support .NET Standard
3. I'll be waiting for your [PR](https://github.com/nhibernate/nhibernate-core/pull/new/master) with a "switch to ANTLR 4 latest beta build". H

[2017-04-26 15:07] hazzik commented on #71
@fredericDelaporte It's just a MsBuild task's fault: it has been built with the MsBuild 3.5. I think it should have include 3 separate tasks assemblies build with proper tooling for supported frameworks.

PS: Building from within VS works.

[2017-04-26 15:15] fredericDelaporte commented on #71
Yes this issue is about the build, not about Antlr3.Runtime support of .Net Core, and I also expect the fix to be either an upgrade to the task assembly or having additional versions of this assembly using more up to date tooling. I was just giving some elements (true, maybe not the best, but sufficient I think) for discarding lextm comment which looks to me as suggesting a close.

[2017-05-23 06:48] lafar6502 opened #72 "StringTemplate4 cloned templates (shadow) work only once, subsequent calls render empty values"
Here is a failing test
First template (t0) created with 'CreateShadow' works OK
Second (t1) does not, renders all model values as empty
ST4.0.8

`
public class Test
        {
            public string Name { get; set; }
            public Test Parent { get; set; }
            public string Title;
            public decimal Age { get; set; }
            public DateTime CreatedDate;

            pub

[2017-05-23 07:24] lafar6502 commented on #72
Update - possible workaround is to use
`TemplateGroup.CreateStringTemplateInternally(tpl.impl) `
for cloning the template

[2017-06-19 01:00] hazzik commented on #71
To solve the issue, the structure of the package shall be like following:

- build
  - net35
    - Antlr3.props
    - Antlr3.targets
    - AntlrBuildTask.dll # Compiled against Microsoft.Build.Utilities.v3.5
  - net40
    - Antlr3.props
    - Antlr3.targets
    - AntlrBuildTask.dll # Compiled against Microsoft.Build.Utilities.v4.0
  - net45 # Probably it is not required as net40 can handle this

[2017-06-19 13:21] sharwell commented on #71
@hazzik That likely won't fix the problem. The subfolders of build represent the *target* framework, not the framework used to execute MSBuild itself.

[2017-06-19 13:38] hazzik commented on #71
@sharwell it does actually fix the problem. (I've checked - it works).

Here is the documentation:

https://docs.microsoft.com/en-us/nuget/create-packages/creating-a-package#including-msbuild-props-and-targets-in-a-package

[2017-06-19 13:52] hazzik commented on #71
I've created a private alpha package (compiled by hands, changed name to Antlr3.Core) to test if it does work. These are .nuget.g.targets & .nuget.g.props  generated for a multi-target .netcore project (netstandard 1.5 & net 4.6.1):

.targets:
[code]
.props:
[code]

[2017-06-19 14:08] hazzik commented on #71
I understood what you mean, yes, it does not run a specific MSBuild. But it works.

[2017-07-27 16:10] brikken opened #73 ""new TemplateGroupFile(fileName)" only works with full file path"
The constructor for a new template group, created from an .stg file, only works when a full path is supplied. A call like:
`var stg = new TemplateGroupFile("Template.stg");`
gives a System.UriFormatException

I suggest calling `System.IO.Path.GetFullPath` on the supplied filename, before creating the Uri.

[2017-08-01 06:20] sharwell commented on #71
After several days of work, I think I'm getting close to addressing this. 😅

[2017-08-01 06:29] #39 closed

[2017-08-01 22:47] #71 closed

[2017-08-01 22:49] hazzik commented on #71
Thanks!

[2017-08-01 22:51] sharwell commented on #71
@hazzik Note that this will required the 2.0 SDK to run `dotnet build`, but the application being compiled can target anything from .NET Standard 1.1 and newer.

[2017-08-01 22:52] hazzik commented on #71
Thats fine for us:) Thanks. When the nuget package is due?

[2017-08-01 22:55] sharwell commented on #71
I should have a beta up tonight. You'll be able to avoid beta dependencies at runtime by installing Antlr3.Runtime 3.5.1 and Antlr3.CodeGenerator 3.5.2-beta1 *instead* of installing the Antlr3 package that always adds both with the same version.

[2017-08-02 04:20] sharwell commented on #71
@hazzik The code generator is published now.

[2017-08-02 04:21] hazzik commented on #71
Thanks a lot!

[2017-08-03 22:26] hazzik commented on #71
Works perfectly*. Thanks again.

* I did not check that it works on environments other than Windows.

[2017-10-02 09:20] hisuwh opened #83 "Dynamically included templates dont accept multiple arguments"
The documentation describes these two ways of including a template (amongst others):
 - name: `<template(argument-list)>`
 - dynamic `<(expr)(argument-list)>`

Both of these are described as a taking an `argument-list` but there appears to be a bug in the C# port of StringTemplate such that the dynamic version doesn't accept a list of arguments, only a single argument.  If you try this you get the

[2017-10-02 11:53] sharwell commented on #83
The limitation here is actually due to the use of *named* arguments. This is a limitation of the reference Java version of StringTemplate 4 as well.

Duplicate of antlr/stringtemplate4#102.

[2017-10-02 11:53] #83 closed

[2017-10-02 14:06] hisuwh commented on #83
Ok thanks.  As mentioned in the reference issue the documentation could do with being more clear about this

[2017-10-07 04:40] ArsenShnurkov opened #84 "I have some errors during compilation..."
I am not using your build process, so it's not your error,
but i have question what is wrong with mine compilation

<a href="https://github.com/antlr/antlrcs/blob/ca331b7109e1faa5a6aa7336bb6281ce9363e62b/Antlr3.StringTemplate/Language/ActionEvaluatorHelper.cs#L71">Antlr3.StringTemplate/Language/ActionEvaluatorHelper.cs(71,30)</a>: error CS0115: 'ActionEvaluator.ReportError(RecognitionException)':

[2017-10-07 21:46] sharwell commented on #84
This repository requires Visual Studio 2017 Update 3 or newer to build (Community Edition will work). With that installed, you should be able to open Antlr3.sln and build successfully.

[2017-10-08 00:27] ArsenShnurkov commented on #84
I am on Sabayon Linux and don't want to/not able to install Visual Studio 2017. That's why I create separate build scripts (package this tool).

[2017-10-08 14:31] sharwell commented on #84
For those cases, the only supported option would be referencing the release binaries through NuGet. You can find a list of packages in the main readme:
https://github.com/antlr/antlrcs

[2017-11-01 14:01] otramony opened #85 "Does Antlr have an ECCN?"
Hello. Our team would like to use/include your library in our product, and since we export outside of the U.S., we're required to provide ECCN (Export Control Classification Number) information for all 3rd-party libraries that may use/include encryption.

[2017-11-01 14:41] sharwell commented on #85
**I am not a lawyer.**

ANTLR does not itself implement encryption, and based on a cursory look at EAR 742 it does not appear that ANTLR would be subject to classification. However, ANTLR has dependencies (varies by runtime), and some of those dependencies may be classified separately.

I expect the best information you are likely to get here is "unspecified", meaning the consumer of the library i

[2017-11-01 14:41] #85 closed

[2017-11-01 14:46] otramony commented on #85
This will suffice. Thank you.

[2017-11-01 17:34] #84 closed

[2017-12-22 18:11] caglaraydin opened #92 "Debugantlr problem"
When I try to generate parser and lexer files from my grammar, Parser.cs inherits from DebugAntlr.Runtime.Parser which does not included in the reference assembly.

[2017-12-22 18:29] #92 closed

[2018-02-02 02:50] twoi commented on #73
I just ran into the same issue, and created PR #93 before checking the issues.

[2018-02-05 01:01] twoi commented on #73
Addressed by #87

[2018-03-16 18:46] rrs opened #102 "separator omitted when first argument is null or empty"
consider the template
`
<["Wendy",,"Jane"]; separator=",", null="">
`
it will print
`
Wendy,,Jane
`
however the template
`
<[,"Wendy","Jane"]; separator=",", null="">
`
will print
`
Wendy,Jane
`
and not
`
,Wendy,Jane
`

This is an issue for a template i have that builds a csv output, when the first column happens to contain null values. A work around is to use null=" " however that means there wou

[2018-05-29 12:09] jannavarro opened #106 "Moving from Antlr 3.1.1 to 3.5.0.2"
I currently have antlr 3.1.1 in my code. I am planning to move to 3.5.0.2 so I installed it from Nuget. Upon installing I encountered errors in the generated Lexer and Parser.cs. I have looked at release notes, articles, etc but couldn't find the right way of fixing these errors. I would like to seek guidance:

1.) The type or namespace name 'Collections' does not exist in the namespace 'Antlr.Run

[2018-05-29 12:44] sharwell commented on #106
It sounds like you didn't regenerate your code when you upgraded. Can you make sure you are using the [Antlr3](https://www.nuget.org/packages/Antlr3) NuGet package?

[2018-05-29 13:59] jannavarro commented on #106
Hi @sharwell thanks for the prompt response. Yes, I am using that Nuget package. Do I need to regenerate my code using Antlrworks?

[2018-05-29 14:56] sharwell commented on #106
@jannavarro No, the code is generated automatically when you build your solution. Here are the steps to ensure the build is working:

[2018-05-29 15:05] jannavarro commented on #106
Oh. I see. I think I read earlier that I need to install an extension but VS 2017 is not supported. Or is that different?

Thanks for the steps. Will try it.

[2018-05-29 15:15] sharwell commented on #106
The extension is optional. I uploaded a new version that supports VS 2017 last week. 😄

[2018-05-30 01:45] jannavarro commented on #106
@sharwell Trying it now. Will update this issue on the status and possibly close it if it is resolved. Thanks for your answers.

[2018-06-10 20:36] FantasticFiasco opened #107 "Semantic versioning"
Hi!

Have you considered adopting to [SemVer](https://semver.org/) when publishing packages to nuget.org?

[2018-06-10 20:57] sharwell commented on #107
Hi @FantasticFiasco,

Packages published from this repository should no longer be including any breaking changes.

If you have a specific question or concern about the versioning policy, please let me know.

[2018-06-10 20:57] #107 closed

[2018-06-10 21:30] FantasticFiasco commented on #107
It's not so much about whether you intend to stay backward compatible as it is that you conform to SemVer. I am writing some code that reads packages from nuget.org, and this package stood out, and because of this it makes it harder to reason about what to expect from different version of your package.

I don't intent to start a flamewar or anything, I'll leave it at this. Thank you for your time

[2018-06-10 21:46] sharwell commented on #107
I do not have any intent to use SemVer, nor do I have any intent to deviate from it.

Don't worry, the question was not going to cause a problem. 😄

[2018-08-17 17:12] MaximRouiller opened #108 "NuGet Package : Add `repository` metadata."
Basically, we can now add a repository metadata on a nuspec file to allow the repository to be surfaced on NuGet. This allows you to have a `projectUrl` as well a repository URL now.

I've talked about it [on Twitter](https://twitter.com/MaximRouiller/status/1030468873945075712) but the most basic things to know is here:

[NuSpec Reference](https://docs.microsoft.com/en-us/nuget/reference/nuspec?W

[2018-08-28 13:35] aukaurea opened #109 "Improve exception message for not found variables"
# Improve exception message for not found variables

Currently, when a variable is missing it shows line: Column number, it should be better if it puts the whole string source code into the error message. As it is hard to detect which when we have a number of templates.

Md. Alim Ul Karim
C# Software Architect at Crossover
Co-creator and Architect of Aurea Automatic Unit Test Solution for C#

[2018-08-28 13:35] aukaurea commented on #109
@sharwell looking for your support.

Thank you.

[2018-09-14 06:30] juliaszegedi opened #110 "Main license issue"
Hello,

I am writing regarding the main license of component antlrcs 3.5.1. The LICENSE.txt file lists one kind of BSD 3 Clause (with the name of the copyright holder in the 3rd clause), whereas the files have references of another kind of BSD 3 Clause license (with the name of the author in the 3rd clause). So which license does apply as a main to this component? (the one from LICENSE.txt or the

[2019-02-18 23:42] elewis00 opened #120 "Build Error System.OutOfMemoryException"
I am converting an old Java application to C# using VS2017 when I attempt to build a "larger" grammar I get an exception after a while
Antlr3.CodeGenerator.3.5.2-rc1\build\Antlr3.CodeGenerator.targets(146,5): error AC1000: Unknown build error:  : error 10 : internal error: Grammar\BookPage.g3 : System.OutOfMemoryException: Exception of type 'System.OutOfMemoryException' was thrown.

[2019-10-03 09:18] zgabi opened #123 "Add netstandard 2.0 target to Antlr3.Runtime"
Currently I'm receiving the following error in a .net core project:
`error PS0264: Ambiguous match: need to map 'System.Runtime.Serialization.StreamingContext, System.Private.CoreLib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=7cec85d7bea7798e, Context=Runtime' and have several candidates: 'System.Runtime.Serialization.StreamingContext, Antlr3.Runtime, Version=3.5.0.2, Culture=neutral, Publi

[2019-10-10 19:06] sharwell commented on #123
What is this error? It's not being reported by the compiler.

[2019-10-10 19:11] zgabi commented on #123
It is a PostSharp error code. It somehow checks all the classes and StreamingContext is duplicated, because it exists in the framework and in Antlr, too.

[2019-10-10 19:13] sharwell commented on #123
I've marked this issue as an enhancement request, but keep in mind the type here is marked `internal` and should not be impacting your tools. I suggest filing a bug report on PostSharp to correct their logic, as the current implementation should not break execution behavior even for netstandard2.0.

[2019-10-12 10:46] zgabi commented on #123
Thank you.

Btw: regaldless of this issue it is recommended (by Microsoft) to also target netstandard 2.0:
https://docs.microsoft.com/en-us/dotnet/standard/net-standard

For example the netstantard version of your package has a dependency to the NETStandard.Library, which has a lot of dependencies to System* packages in netstandard < 2.0

[2019-10-14 10:36] Doytoend opened #125 "Version Number mismatch"
Hi,

This is more of a clarification on the versioning numbers used.
We have been updating our packages and we wanted to use Antlr3.Runtime version 3.5.2 RC. However when I added the package and looked at the reference properties I found that the Version is set at 3.5.0.2 rather than 3.5.2 is this correct?

From what I gathered 3.5.0.2 is for the Antlr3 package rather than the Antlr3.Runtime packa

[2019-10-14 15:27] sharwell commented on #125
@Doytoend There are three version numbers.

* AssemblyVersion: This shows as "Version" in the reference's properties page
* AssemblyFileVersion: This shows as "File version"
* AssemblyInformationalVersion: This shows as "Product version"

The AssemblyVersion affects binding, so to avoid the need for users to add as many assembly binding redirects, the version only changes when the major or minor v

[2019-10-14 17:22] Doytoend commented on #125
@sharwell Thanks for the clarification. Needed it for documentation.

[2019-10-14 17:22] #125 closed, assigned to nobody

[2019-12-14 00:32] chaami commented on #36
You will get the same kind of errors if something prevents the file from successfully loading...
You can get additional logs by making StringTemplate more verbose:
[code]

[2019-12-15 20:46] BrianCatlin opened #126 "Separator output bug"
When iterating over a list, separators for items skipped at the beginning of a list are not output, but once an item in the list is output, separators are output for subsequent items, even when items are skipped. The following C# code illustrates this. The output is: "2 is even," (note the trailing comma separator, but there isn't a comma before the 2, for the first skipped item)

[code]

[2019-12-18 22:37] chaami commented on #126
Hi Brian,
I am no expert, but in your template, the odd parameters are not skipped per say, you simply don't output anything when treating them.
Considering that it has treated said parameter (even by not printing anything), string template logically adds a separator.
As ways to obtain what you are looking for, you could filter out items by adding a `.where(i => i.isEven)` LINQ call to items when

[2019-12-18 22:50] BrianCatlin commented on #126
Thank you for your response @chaami

If what you say is true, then there should have been a separator between all items in the list, but there isn't; however, notice that there aren't separators for items not output for items at the beginning of the list, but once an item is output (in my example, the second item), then ST outputs a separator for every subsequent item. So, clearly ST knows that it

[2019-12-19 01:26] chaami commented on #126
Hi @BrianCatlin,
Oups, actually the second workaround that I have given you missing the case when the first member is odd !
Complete solution:
[code]

Actually if print the length of the list with
[code]
Should yield to 3.
My guess is that StringTemplate handles gracefully empty first elements of lists and then you are on your own 😉
`strip()` unfortunately only remove `null` values...
I haven't fo

[2019-12-19 01:43] BrianCatlin commented on #126
Thanks!

[2019-12-19 02:49] chaami commented on #126
Glad I could help...
It helped me dig a little deeper into StringTemplate 😉
Good luck !

[2020-03-19 22:52] IRebo opened #127 "antlr3 template generating wrong code"
Hi,

i was trying to upgrade our project from older antlr 3.4 to the latest 3.5 (tried various version including the latest 3.5.2-rc1) but I keep getting a compilation error of the produced .cs file.

I have found traces of other people running into the same issue and they can describe it better then me :)
https://stackoverflow.com/questions/9923639/antlr-grammar-generating-invalid-c-sharp-code
ht

[2020-05-19 15:47] Brubning opened #128 "Instantiate TemplateGroupFile from URI expects local file path"
Loading a template group file using a URI (as below) is expecting a local file path and not a web address.

[code]

I store my .stg files in an AWS S3 bucket because local file storage is not always available. I thought that the URI parameter would allow remote URIs.

Could be that I'm missing something?

[2020-06-01 10:51] IRebo commented on #127
[antlr_test.zip](https://github.com/antlr/antlrcs/files/4710850/antlr_test.zip)

[2021-02-20 19:28] nlyk opened #129 "Is StringTemplate for C# a dead project?"
Should I use StringTemplate (C# target) in a new project? Please advise

[2021-02-20 22:07] lextm commented on #129
ANTLR 4 replaced ANTLR 3 a long while ago, so you should switch to https://github.com/antlr/antlr4/tree/master/runtime/CSharp/src

[2021-02-21 09:35] nlyk commented on #129
@lextm Sorry I was not clear - I am particularly interested in the StringTemplate project and specifically in the C# target.

[2021-02-21 21:03] lextm commented on #129
StringTemplate remains 4.x, https://www.stringtemplate.org/ So this repo already contains the latest C# port (4.x).

As a library of very specific features, I don't see a need of frequent updates. It will be your own judgement whether to use it in a new project.

[2021-02-22 21:31] nlyk commented on #129
Last stable version of ST4 is 4.3.1 (Jun 2020). ST4 C# last stable version is 4.0.8, since Dec 2016 (https://www.nuget.org/packages/StringTemplate4). Are all the fixes and new features after 4.0.8 not relevant to C# port? I doubt that.
Is there any known roadmap?

[2021-03-08 12:29] kaby76 commented on #129
I was wondering myself. For my [dotnet-antlr project](https://github.com/kaby76/Antlr4BuildTasks/tree/master/dotnet-antlr), I create an Antlr driver from grammars and source code. Right now, my tool generates code via Console.WriteLines. I always assumed that I could rewrite it with ST, but when I went to look at it a few days ago, I found that this code doesn't even open or build in VS2019, and i

[2021-03-08 18:57] kaby76 commented on #129
My fork of ST4 C# is here: https://github.com/kaby76/stringtemplate4cs It builds in VS2019 and is targeted to netstandard2.0. I made a simple "hello world" program that uses it and it works. Much to do in bringing it up to date.

[2021-03-09 16:29] lextm commented on #129
Related to https://github.com/tunnelvisionlabs/antlr4cs/issues/341

[2021-03-09 16:58] kaby76 commented on #129
@lextm Yes, good info. So, this repo is the one to fix. The copy I forked at (https://github.com/kaby76/stringtemplate4cs) is working. It handles everything I need, including "attributes", "properties", "map". I don't use [groups](https://github.com/antlr/stringtemplate4/blob/master/doc/introduction.md#groups-of-templates), but I assume it will work for that, too. StringTemplate.ST is really Strin

[2021-10-20 21:57] bojake commented on #106
I have a similar issue. The nuget 3.1.x version works fine with our grammar, but the latest 3.5.x version complains about the same errors listed in the OP's report.

[2021-10-26 23:08] IRebo commented on #127
curiously i found a solution discussed back in 2011 if anyone else runs into it - https://raw.githubusercontent.com/antlr/website-antlr3/aa6181595356409f8dc624e54715f56bd10707a8/pipermail/antlr-interest/2011-September/042586.html

[2022-07-25 15:40] tdjastrzebski commented on #129
I have been using ANTLR over many, many years on many occasions.
It is very sad to see this extremely valuable project ending up like this - mixed up and confusing versioning, all dumped to a single repo, just two usual contributors, no future. I think, practically speaking, yes - it is dead.
It has not been decided to let it live :/

[2022-07-25 16:20] kaby76 commented on #129
Yes, StringTemplate for C# is now mostly unmaintained. That is why I have a fork of the giant code base antlrcs, stripped out StringTemplate, and placed it here https://github.com/kaby76/Domemtech.StringTemplate4 . I have brought that code somewhat up to date with some bug fixes from the Java code base. And I use StringTemplate C# extensively in [trgen](https://github.com/kaby76/Domemtech.Trash/tr

[2022-07-25 19:33] tdjastrzebski commented on #129
@kaby76 My sincere thanks for taking the action, although I found no signs the original authors' appreciation.